nav {
  background-color: #f0f0f0;
  box-shadow: 0 0 0.8em 0.3em rgba(0, 0, 0, 0.25);
  padding: 1.7rem;

}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0 1rem;
  color: #d32d2d;

}
.logo {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: larger;
}
a.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
