
form {
 display: grid;
 justify-content: center;
}
img {
  max-width: 15%;
  height:auto;
  padding: 1.5rem;
}
.form-body {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
}
input[type="text"] {
  padding: 12px 44px;
  margin: 5px;
  width: 350px;
}
input[type="email"] {
  padding: 12px 44px;
  margin: 5px;
  width: 350px;
}
input[type="password"] {
  padding: 12px 44px;
  margin: 5px;
  width: 350px;
}
button {
  width: auto;
  height: 45px;
  font-size: larger;
  color: #f5f0f0;
  background-color: rgb(108, 163, 247);
  border: #f5f0f0;
}

